<%= render partial: 'layouts/header', locals: { h1: '管理画面', breadcrumb: '' } %>

<div class="container">
  <table  class="table table-striped table-bordered">
    <tr>
      <th>No.</th>
      <th>メニュー</th>
      <th>詳細</th>
    </tr>
    <%= render partial: 'menu_table', locals: { number: 1, link_name: 'bot登録管理', url: admin_bot_index_path, details: 'botの登録管理をする' } %>
    <%= render partial: 'menu_table', locals: { number: 2, link_name: 'hash_tag登録管理', url: admin_hash_tags_path, details: 'hash_tagの登録管理をする' } %>
    <%= render partial: 'menu_table', locals: { number: 3, link_name: 'BOT-HASH関連管理', url: admin_bot_hash_tag_rels_path, details: 'BOT-HASH関連の管理をする' } %>
  </table>
</div>

<%= render 'layouts/footer' %>
