<div class="container">
  <h2>❏ 登録</h2>

  <p class="bg-warning">BOTとして登録したいTwitterアカウントにログインしなおしてください。</p>

  <%= button_to "Twitterアカウント読込", bot_omniauth_authorize_path, class: 'btn btn-info'%>

  <%= form_for @hash, :url => create_hash_path do |f| %>
  <p style="color: green;"><%= notice %></p>
  <p style="color: red;"><%= alert %></p>
  <%= button_tag('BOT登録', class: "btn btn-info") %>
  <% end %>
</div>
